.App {
  position: relative;
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border: 5px solid #000;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  border: 1px solid #fff;
  z-index: 1;
}
*{
  text-align: center;
}
button{
  background-color: red;
  border-radius: 20px;
  color: white;
}